
.hero{
    background-image: url(/img/under_construction.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
width: 100vw;
height: 100vh;
}